@import 'leaflet/dist/leaflet.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen;
}

.leaflet-container {
  width: 100%;
  height: 400px; /* Altura fija para evitar errores */
  z-index: 1;
}
